In [1]:
import pandas as pd

In [2]:
aide_alimentaire = pd.read_csv(r"C:\Users\Asus\OneDrive\Bureau\CSV Projet 4\aide_alimentaire.csv", sep=';')

In [3]:
aide_alimentaire.head()

  Pays bénéficiaire   Année              Produit   Valeur
0       Afghanistan  2013.0  Autres non-céréales    682.0
1       Afghanistan  2014.0  Autres non-céréales    335.0
2       Afghanistan  2013.0         Blé et Farin  39224.0
3       Afghanistan  2014.0         Blé et Farin  15160.0
4       Afghanistan  2013.0             Céréales  40504.0

In [4]:
dimensions = aide_alimentaire.shape
nombre_lignes = dimensions[0]
nombre_colonnes = dimensions[1]
print("Dimensions du dataset : {} lignes, {} colonnes".format(nombre_lignes, nombre_colonnes))

Dimensions du dataset : 1475 lignes, 4 colonnes

In [5]:
nombre_colonnes = aide_alimentaire.shape[1]

In [6]:
print("Nombre de colonnes dans le DataFrame : ", nombre_colonnes)

Nombre de colonnes dans le DataFrame :  4

In [7]:
aide_alimentaire = aide_alimentaire.rename(columns={'Pays bénéficiaire': 'Zone'})
aide_alimentaire.head()

          Zone   Année              Produit   Valeur
0  Afghanistan  2013.0  Autres non-céréales    682.0
1  Afghanistan  2014.0  Autres non-céréales    335.0
2  Afghanistan  2013.0         Blé et Farin  39224.0
3  Afghanistan  2014.0         Blé et Farin  15160.0
4  Afghanistan  2013.0             Céréales  40504.0

In [8]:
aide_alimentaire['Valeur'] = aide_alimentaire['Valeur'] * 1000
aide_alimentaire.head()

          Zone   Année              Produit      Valeur
0  Afghanistan  2013.0  Autres non-céréales    682000.0
1  Afghanistan  2014.0  Autres non-céréales    335000.0
2  Afghanistan  2013.0         Blé et Farin  39224000.0
3  Afghanistan  2014.0         Blé et Farin  15160000.0
4  Afghanistan  2013.0             Céréales  40504000.0