In [1]:
import pandas as pd

In [2]:
population = pd.read_csv(r"C:\Users\Asus\OneDrive\Bureau\CSV Projet 4\population.csv", sep=';')

In [3]:
print("#Affichage les 5 premières lignes de la table")
population.head()

#Affichage les 5 premières lignes de la table

          Zone Année     Valeur
0  Afghanistan  2013  32269.589
1  Afghanistan  2014  33370.794
2  Afghanistan  2015  34413.603
3  Afghanistan  2016  35383.032
4  Afghanistan  2017  36296.113

In [4]:
dimensions = population.shape
nombre_lignes = dimensions[0]
nombre_colonnes = dimensions[1]

In [5]:
print("Dimensions du dataset : {} lignes, {} colonnes".format(nombre_lignes, nombre_colonnes))

Dimensions du dataset : 1416 lignes, 3 colonnes

In [6]:
population.shape

(1416, 3)

In [7]:
print("#Nous allons harmoniser les unités. Pour cela, nous avons décidé de multiplier la population par 1000")

#Nous allons harmoniser les unités. Pour cela, nous avons décidé de multiplier la population par 1000

In [8]:
population['Valeur'] = population['Valeur'] * 1000
population.head()

          Zone Année      Valeur
0  Afghanistan  2013  32269589.0
1  Afghanistan  2014  33370794.0
2  Afghanistan  2015  34413603.0
3  Afghanistan  2016  35383032.0
4  Afghanistan  2017  36296113.0

In [9]:
print("#changement du nom de la colonne Valeur par Population")

#changement du nom de la colonne Valeur par Population

In [10]:
population = population.rename(columns={'Valeur': 'population'})

In [11]:
population.head()

          Zone Année  population
0  Afghanistan  2013  32269589.0
1  Afghanistan  2014  33370794.0
2  Afghanistan  2015  34413603.0
3  Afghanistan  2016  35383032.0
4  Afghanistan  2017  36296113.0